In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
le = LabelEncoder()
model = LogisticRegression()

In [53]:
data = pd.read_csv('adult.csv')
data = data.drop(columns = ['fnlwgt'])
data.head()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [56]:
le.fit( data['income'] )

LabelEncoder()

In [57]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [58]:
le.transform( [ '<=50K', '>50K', '>50K' ] )

array([0, 1, 1])

In [59]:
y = pd.Series( data = le.transform( data['income'] ) )
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

In [200]:
# попробуем выбрать какие-нибудь признаки
selectedColumns = data[ [  \
                         'capital-gain', \
                         'capital-loss', \
                         'hours-per-week', \
                         'age', \
                         #'educational-num', \
                         'race', \
                         'workclass', \
                         'occupation', \
                         'gender', \
                         'marital-status',\
                         'education', \
                         'native-country'\
                        ] ]

X = pd.get_dummies( selectedColumns, columns = [ \
                                                'race', \
                                                'workclass',\
                                                'occupation',\
                                                'gender',\
                                                'marital-status', \
                                                'education', \
                                                'native-country' \
                                               ] )


#  'capital-gain', 'capital-loss', 'hours-per-week', 'race', 'age', \
#  'educational-num', 'workclass', 'occupation', 'gender', 'marital-status','education', 'native-country' 

X.head(1)

,capital-gain,capital-loss,hours-per-week,age,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,workclass_?,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0,0,40,25,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [201]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
model.fit(X_test,y_test)
model.score(X_test, y_test)

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8568942573446617